# Python
__pycache__/
*.py[cod]
*.so
.venv/
venv/
env/
Pipfile.lock
poetry.lock
.pytest_cache/
*.egg-info/
.mypy_cache/
.ipynb_checkpoints/
.DS_Store

# Docker
.dockerignore
Dockerfile
docker-compose.yml
.env
.env.local
.env.production
.env.development
logs/
